ul{
    list-style-type:none;
    padding:0px;
    width:75px;
    display:inline-block;
}
#bar{
	background-color:#DCDCDC;
	color:#DCDCDC;
	margin-top:-1px;
	margin-left:-5px;
}
li{
	background-color:#DCDCDC;
    margin-left:-5px;
    padding-left:5px;
}
.button1{
    visibility:visible;
    width:50px;
    display:inline-block;
}
.drop1{
    position:fixed;
    top:-9px;
    visibility:hidden;
}
.drop1:hover{
    visibility: visible;
}
.drop2{
    position:fixed;
    left:50px;
    top:-9px;
    visibility:hidden;
}
.drop2:hover{
    visibility: visible;
}
.drop3{
    position:fixed;
    left:100px;
    top:-9px;
    visibility:hidden;
}
.drop3:hover{
    visibility: visible;
    width:75px;
}