<a class="btn btn-success" ng-click="vm.create()">
    <i class="glyphicon glyphicon-plus"></i>
    New Record
</a>
<a href="#" class="btn btn-danger">
    <i class="glyphicon glyphicon-trash"></i>
    Delete All
    <span class="badge">{{vm.rows.length}}</span>
</a>
<br />
<table class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Duration</th>
		<th>Calories Burned</th>
		<th>User</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in vm.rows">
			<td ng-if-start="!row.isEditing">{{row.Name}}</td>
			<td >{{row.Duration}}</td>
			<td >{{row.calories}}</td>
			<td >{{row.Persons_idtable1}}</td>
				<th ng-if-end scope="row">
					<div class="btn-group" role="group" aria-label="...">
						<a href="#/exercise/{{row.id}}" title="View" class="btn btn-default btn-xs ajax"><i class="glyphicon glyphicon-eye-open"></i></a>
						<a ng-click="vm.edit(row, $index)" title="Edit" class="btn btn-default btn-xs edit"><i class="glyphicon glyphicon-edit"></i></a>
						<a ng-click="vm.delete(row, $index)" title="Delete" class="btn btn-default btn-xs delete"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
				</th>
			
			<td ng-if-start="row.isEditing"><input type="text" name="Name" class="form-control" placeholder="Name" ng-model="row.Name" /></td>
			<td><input type="text" name="Duration" class="form-control" placeholder="Duration" ng-model="row.Duration" /></td>
			<td><input type="text" name="Calories Burned" class="form-control" placeholder="Calories Burned" ng-model="row.calories" /></td>
			<td>
				<select ng-options="option.idtable1 as option.name for option in vm.persons" ng-model="row.Persons_idtable1" class="form-control"></select>
			</td>
			<td ng-if-end>
				<input type="button" value="Save" class="btn btn-primary btn-sm submit" ng-click="vm.save(row, $index)"/>
				<input type="button" value="Cancel" class="btn btn-default btn-sm submit" ng-click="row.isEditing = false"/>
			</td>
		</tr>
	</tbody>
</table>